ul.inline
  li
    .missions-menu-selection.unit-type1
  li
    .missions-menu-selection.unit-type2.hide
  li
    .missions-menu-selection.unit-type3.hide
  li
    .missions-menu-selection.unit-type4.hide
  li
    .missions-menu-selection.unit-type5.hide