.list-inline
  li.unit(data-index="1")
    .missions-menu-selection#type1
  li.unit(data-index="2")
    .missions-menu-selection#type2.hide
  li.unit(data-index="3")
    .missions-menu-selection#type3.hide
  li.unit(data-index="4")
    .missions-menu-selection#type4.hide
  li.unit(data-index="5")
    .missions-menu-selection#type5.hide
  li.unit(data-index="6")
    .missions-menu-selection#type6.hide
  li.unit(data-index="7")
    .missions-menu-selection#type7.hide
  li.unit(data-index="8")
    .missions-menu-selection#type8.hide
  li.unit(data-index="9")
    .missions-menu-selection#type9.hide
  li.unit(data-index="0")
    .missions-menu-selection#type0.hide