ul.inline
  li.unit
    .missions-menu-selection.type1
  li.unit
    .missions-menu-selection.type2.hide
  li.unit
    .missions-menu-selection.type3.hide
  li.unit
    .missions-menu-selection.type4.hide
  li.unit
    .missions-menu-selection.type5.hide