html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  background-color: #000000;
  text-align: center;
  position: absolute;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.temp {
  top: -1000px;
  position: absolute;
}

.menu {
  position: absolute;
  top: 20px;
  left: 300px;
  z-index: 100;
}

.menuItem {
  color: #FFFFFF;
  font-size: 12;
  padding-right: 20px;
}