.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel
  .race-menu-container
    img.race-menu-background(src="/images/ui/race-panel-background.png")
    .races.span8
      .race.race-red(data-id="red").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | InitLab
          p The first bulgarian hackerspace. Will it stand against the pressure?
      .race.race-green(data-id="green").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | VarnaLab
          p The second bulgarian hackerspace. Will it stand against the pressure?
      .race.race-orange(data-id="orange").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | Hackafe
          p The third bulgarian hackerspace. Will it stand against the pressure?
      .race.race-pink(data-id="pink").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | BurgasLab
          p The fourth bulgarian hackerspace. Will it stand against the pressure?
      .race.race-yellow(data-id="yellow").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | Locked
          p You cannot play with this color, sorry!
      .race.race-blue(data-id="blue").span4
        .race-color
          img(src="/images/planets/planet19.png")
        .race-description.span3
          | Locked
          p You cannot play with this color, sorry!