.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel
  .race-menu-container
    img.race-menu-background(src="/images/ui/race-panel-background.png")
    .races.span8
      .race.race-red(data-id="0").ease-all.span4
        .race-color
          img(src="/images/planets/planet17.png")
        .race-description.span3
          | InitLab
          p The first bulgarian hackerspace. Will it stand against the pressure?
      .race.race-green(data-id="1").ease-all.span4
        .race-color
          img(src="/images/planets/planet12.png")
        .race-description.span3
          | VarnaLab
          p The second bulgarian hackerspace. Will it stand against the pressure?
      .race.race-orange(data-id="2").ease-all.span4
        .race-color
          img(src="/images/planets/planet13.png")
        .race-description.span3
          | Hackafe
          p The third bulgarian hackerspace. Will it stand against the pressure?
      .race.race-pink(data-id="3").ease-all.span4
        .race-color
          img(src="/images/planets/planet14.png")
        .race-description.span3
          | BurgasLab
          p The fourth bulgarian hackerspace. Will it stand against the pressure?
      .race.race-yellow(data-id="4").ease-all.span4
        .race-color
          img(src="/images/planets/planet15.png")
        .race-description.span3
          | Locked
          p You cannot play with this color, sorry!
      .race.race-blue(data-id="5").ease-all.span4
        .race-color
          img(src="/images/planets/planet16.png")
        .race-description.span3
          | Locked
          p You cannot play with this color, sorry!
  .sun-menu-container
    h4.pull-left Pick the type of sun for your home solar system!
    .suns.span8
      .sun(data-id="0").span3
        img(src="/images/suns/sun0.png");
      .sun(data-id="1").span3
        img(src="/images/suns/sun1.png");