.loginBtn.text-center
  a.btn.login.start-game Start Game
.pick-race-panel.left-panel
  .race-menu-container.container.col-sm-6
    h3.info Pick the race you want to play with!
    .choices-list
      .choice.race-choice.ease-all
        p InitLab
      .choice.race-choice.ease-all
        p VarnaLab
      .choice.race-choice.ease-all  
        p Hackafe
      .choice.race-choice.ease-all
        p BurgasLab
      .choice.race-choice.ease-all
        p MegaDev
      .badge Locked race*
        i.fa.fa-lock
      p * Subscribe to our newsletter for news

  .sun-menu-container.container.col-sm-6
    h3.info Customize your starting solar system!
    .planets-container

    .choices-list
      .choice.sun-choice.ease-all(data-id=0)
        p Alpha Centauri
      .choice.sun-choice.ease-all(data-id=1)
        p Kopernik
      p Upload your own     
        i.fa.fa-lock
    .sun-type