<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet17.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet18.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet19.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet20.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet21.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet22.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet23.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet24.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet25.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet26.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>planet9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>planets.png</string>
            <key>size</key>
            <string>{1568,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9b9c78a653061fdf87df4a09d300a9:5435257e7613aedbed28d57cde0c81a6:dd932aa2135a8829ff5f576a137be835$</string>
            <key>textureFileName</key>
            <string>planets.png</string>
        </dict>
    </dict>
</plist>
