#individual
    .bs-example.table-responsive
        table.table.table-striped.table-hover
            thead
              tr
                th #
                th Player 
                th Race Color
                th Home Planet
                th Planets #
            tbody
              tr(data-id="1")
                td.position 1
                  span.pull-left.glyphicon.glyphicon-star
                td.twitter-username
                td.race-color 
                td.home-planet 
                td.planets
              tr(data-id="2")
                td.position 2
                td.twitter-username
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="3")
                td.position 3
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="4")
                td.position 4
                td.twitter-username 
                td.race-color 
                td.home-planet
                td.planets 
              tr(data-id="5")
                td.position 5
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="6")
                td.position 6
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="7")
                td.position 7
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="8")
                td.position 8
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="9")
                td.position 9
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="10")
                td.position 10
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets
    ul.pager
      li.previous-page
        a(href='#') Previous Page
      li.next-page
        a(href='#') Next Page


