#individual
    .bs-example.table-responsive
        table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th #
                th Player 
                th Race Color
                th Home Planet
                th Planets #
            tbody
              tr(data-id="1")
                td 1
                td.
                td.race-color 
                td 
                td 
              tr(data-id="2")
                td 2
                td 
                td.race-color 
                td 
                td 
              tr(data-id="3")
                td 3
                td 
                td.race-color 
                td 
                td 
              tr(data-id="4")
                td 4
                td 
                td.race-color 
                td 
                td 
              tr(data-id="5")
                td 5
                td 
                td.race-color 
                td 
                td 
              tr(data-id="6")
                td 6
                td 
                td.race-color 
                td 
                td 
              tr(data-id="7")
                td 7
                td 
                td.race-color 
                td 
                td 
              tr(data-id="8")
                td 8
                td 
                td.race-color 
                td 
                td 
              tr(data-id="9")
                td 9
                td 
                td.race-color 
                td 
                td 
              tr(data-id="10")
                td 10
                td 
                td.race-color 
                td 
                td
    ul.pager
      li
        a(href='#') Previous Page
      li
        a(href='#') Next Page


