#race
    .bs-example.table-responsive
        table.table.table-striped.table-hover
            thead
              tr
                th #
                th Cluster Race
                th Players #
                th Planets #
            tbody
              tr(data-id="1")
                td.race-position 1
                  span.pull-left.glyphicon.glyphicon-star
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
              tr(data-id="2")
                td.race-position 2
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
              tr(data-id="3")
                td.race-position 3
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
              tr(data-id="4")
                td.race-position 4
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
              tr(data-id="5")
                td.race-position 5
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
              tr(data-id="6")
                td.race-position 6
                td.race-race-color
                td
                    .players-number
                td
                    .planets-number
