#team
    .bs-example.table-responsive
        table.table.table-striped.table-hover
            thead
              tr
                th #
                th Cluster Team
                th Players #
                th Planets #
            tbody
              tr(data-id="1")
                td.team-position 1
                  span.pull-left.glyphicon.glyphicon-star
                td.team-race-color
                td.players-number
                td.planets-number
              tr(data-id="2")
                td.team-position 2
                td.team-race-color
                td.players-number
                td.planets-number
              tr(data-id="3")
                td.team-position 3
                td.team-race-color
                td.players-number
                td.planets-number
              tr(data-id="4")
                td.team-position 4
                td.team-race-color
                td.players-number
                td.planets-number
              tr(data-id="5")
                td.team-position 5
                td.team-race-color
                td.players-number
                td.planets-number
              tr(data-id="6")
                td.team-position 6
                td.team-race-color
                td.players-number
                td.planets-number
