.toggle-btn.btn.btn-inverse.btn-large
  span.icon-info-sign.icon-white
.tutorial-content.hide
  img(src="http://www.devildroid.com/wp-content/uploads/2010/10/galcon.jpg")
  a.btn.btn-warning.btn-large.close-btn
    span Close
    i.icon-white.icon-remove 