.toggle-btn.btn.btn-inverse.btn-large
  span.icon-info-sign.icon-white
.tutorial-content.hide
  .tutorialImage
  a.btn.btn-warning.btn-large.close-btn(href="#")
    span Close
    i.icon-white.icon-remove 