.landing-content
  h1 Hello !{twitter.name}
  h4 For maximum fun experience we suggest you to use our "bring a friend" policy ;)
  
  h2 Invite some now
    ul.social
      li
        a.facebook-button.ease-all(href='#')
          i.fa.fa-facebook
          span.hide-text Facebook
      li
        a.twitter-button.ease-all(href='https://twitter.com/intent/tweet?text=Hey friends, join me playing @warcluster so we can conquer the galaxy together! :D', data-size='large', data-related='warcluster', data-url='http://warcluster.com', data-dnt='true')
          i.fa.fa-twitter
          span.hide-text Twitter
      li
        a.google-button.ease-all(href='#')
          i.fa.fa-google-plus
          span.hide-text Google Plus
  p "The more, the merrier" ~ Winnie the Pooh :D