.landing-content
    h1 Hello !{twitter.name}
    h4 For maximum fun experience we suggest you to bring a friend
    p after all - "the more, the merrier" ~ Winnie the Pooh

    a.twitter-hashtag-button(href='https://twitter.com/intent/tweet?button_hashtag=warcluster&text=Alabala', data-size='large', data-related='warcluster', data-url='http://warcluster.com', data-dnt='true') Tweet #warcluster