h1 Hello !{twitter.name}
h3 Username: !{twitter.screen_name}
.color-select
  h5 Your color
  
  select.colorselector
    option(value='106', data-color='#A0522D') sienna
    option(value='47', data-color='#CD5C5C') indianred
    option(value='87', data-color='#FF4500') orangered
    option(value='17', data-color='#008B8B') darkcyan
    option(value='18', data-color='#B8860B') darkgoldenrod
    option(value='68', data-color='#32CD32') limegreen
    option(value='42', data-color='#FFD700') gold
    option(value='77', data-color='#48D1CC') mediumturquoise
br
.btn.btn-primary.btn-large.start-game Start game