.controls-content
  .raceslector-wrapper.pick-race-panel
    .race-menu-container
      h3.info Pick the race you want to play with!
      .btn-group-cl-effect
        for team, key in teams
          if (team.Name)
            a.race-choice(href='#', data-hover= team.Name, data-id= key)
              span= team.Name
        
      .badge Locked race*
        i.fa.fa-lock
      p
        | Subscribe to our 
        a(href='http://eepurl.com/MvxdX', target="_blank") newsletter
        |  for news about the upcoming race!
      p 
        | Your color & communications #hashtag will be: 
        span.race-hashtag-color 
      table
        tr
          td
            img.race-image
    .sun-menu-container
      h3.info Customize your starting solar system!
      .planets-container
        img.planet.planet-bottom(src="/images/planets/planet1.png")
        .overlay-bottom.overlay
        img.planet.planet-top(src="/images/planets/planet2.png")
        .overlay-top.overlay
        img.planet.planet-left(src="/images/planets/planet3.png")
        .overlay-left.overlay
        img.planet.planet-right(src="/images/planets/planet5.png")
        .overlay-right.overlay
      .btn-group-cl-effect
        a.sun-choice(href='#', data-hover='Kopernik', data-id="0")
          span Kopernik
        a.sun-choice(href='#', data-hover='Acamar', data-id="1")
          span Acamar
        p Upload your own     
          i.fa.fa-lock
      .sun-type
  .info-wrapper
.loginBtn.text-center
  a.btn.login.start-game Close