.race-menu-container {
  .race-portrait {
    height: 50%;
  }
  a {
    color: #FFF;
    text-decoration: underline;
  }
}
.race-image {
  height: 100%;
}
.sci-fi-container {
  background-color: #150a06;
  border-image: url("/images/ui/registration/pick_race_border.png") 12 16 16 12 repeat;
  -moz-border-image: url("/images/ui/registration/pick_race_border.png") 12 16 16 12 repeat;
  border-width: 12px 16px 16px 12px;
  -moz-border-width: 12px 16px 16px 12px;
  height: 100%;
}

.sun-type {
    margin: 0 auto;
    top: 25%;
    position: relative;
}

.sun-menu-container {
  .choices-list {
    position: absolute;
    text-align: left;
    cursor: pointer;
  }
  .planet {
   /* background-image: url('/images/planets/planet0.png');*/
    width: 43px;
    height: 43px;
    position: absolute;
  }
  .planet-left {
    left: 10%;
    top: 50%;
  }
  .planet-right {
    right: 5%;
    top: 50%;
  }
  .planet-top {
    top: 10%;
    right: 35px;
  }
  .planet-bottom {
    bottom: 10%;
    left: 35%;
  }
  .overlay-top {
    top: 10%;
    right: 35px;
  }
  .overlay-bottom {
    bottom: 10%;
    left: 35%;
  }
  .overlay-left {
    left: 10%;
    top: 50%;
  }
  .overlay-right {
    right: 5%;
    top: 50%;
  }
  .overlay {
    position: absolute;
    background-color: rgba(5,151,255,0.5);
    width: 43px;
    height: 43px;
    border-radius: 43px;
  }
}