!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')

    link(rel='stylesheet', href='/style.css')

    script(src="/js/sockjs-0.3.min.js")
    script(src="/js/three.js")
    script(src="/js/stats.min.js")
    script(src='/js/jade.js')
    script(src="/game/code.js")

  body(style="background-color: #000000")
    .content
    .ui-container
      .container-fluid
        .row-fluid
          .span12
        .row-fluid
          .offset1.span10
            .menu.btn-group
              a.btn.test1(href="#") Build systems
              a.btn.test2(href="#") Send mission
              a.btn.scroll-left(href="#") Sroll left
              a.btn.scroll-right(href="#") Sroll right
          sup.version.span1
            | &nbsp;&mdash;&nbsp;
            .label !{version}
    canvas#cTemp.temp