!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')

    link(rel='stylesheet', href='/style.css')
    //- TODO: think about security before closed beta testing
    script
      var twitter = !{JSON.stringify(session.twitter)}
    script(src="/js/sockjs-0.3.min.js")
    script(src="/js/three.js")
    script(src="/js/threex.domevent.js")
    script(src="/js/threex.domevent.object3d.js")
    script(src="/js/stats.min.js")
    script(src='/js/jade.js')
    script(src="/game/code.js")

  body(style="background-color: #000000")
    .content
    .ui-container
      .label !{version}
    canvas#cTemp.temp