!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')
    meta(name='description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='keywords', content='warcluster, threejs, webgl, online, space, strategy, arcade, browser, MMO, RTS, twitter')
    meta(name='author', content='warcluster')
    meta(name="msapplication-tap-highlight", content="no")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(property='og:url', content='http://warcluster.com')
    meta(property='og:image', content='http://warcluster.com/public/images/warcluster-logo.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@warcluster')
    meta(name='twitter:title', content='The first social game for Twitter')
    meta(name='twitter:description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='twitter:image:src', content='http://warcluster.com/public/images/warcluster-logo.png.png')

    link(rel='stylesheet', href='/style.css')

    //- TODO: think about security before closed beta testing
    script
      var twitter = !{JSON.stringify(session.twitter)}
      var tokens = {
        "oauthAccessToken": !{JSON.stringify(session.oauthAccessToken)},
        "oauthAccessTokenSecret": !{JSON.stringify(session.oauthAccessTokenSecret)}
      }

    script(src="/js/reconnecting-websocket.js")
    script(src="/js/three.min.js")
    script(src="/js/threex.domevent.js")
    script(src="/js/threex.domevent.object3d.js")
    script(src="/js/threex.atmospheredatgui.js")
    script(src="/js/threex.atmospherematerial.js")
    script(src="/js/threex.planets.js")
    script(src="/js/dat.gui.min.js")
    script(src="/js/stats.min.js")
    script(src='/js/jade.js')

  body(style="background-color: #000000")
    .loading-screen
        | Loading ...
  script(src="/game/code.js")


