!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')
    meta(name='description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='keywords', content='warcluster, threejs, webgl, online, space, strategy, arcade, browser, MMO, RTS, twitter')
    meta(name='author', content='warcluster')
    meta(property='og:url', content='http://warcluster.com')
    meta(property='og:image', content='http://warcluster.com/public/images/warcluster-logo.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@warcluster')
    meta(name='twitter:title', content='The first social game for Twitter')
    meta(name='twitter:description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='twitter:image:src', content='http://warcluster.com/public/images/warcluster-logo.png.png')

    //TODO: don't load external links
    link(rel='stylesheet', href='/cosmo-theme-bootstrap.css')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/style.css')
    
    //- TODO: think about security before closed beta testing
    script
      var twitter = !{JSON.stringify(session.twitter)}
    script(src="/js/sockjs-0.3.min.js")
    script(src="/js/three.js")
    script(src="/js/threex.domevent.js")
    script(src="/js/threex.domevent.object3d.js")
    script(src="/js/stats.min.js")
    script(src='/js/jade.js')
    script(src="/game/code.js")

  body(style="background-color: #000000")
