a.twitter-timeline(data-dnt='true', width='230px', height='500px' href='https://twitter.com/search?q=%23WarClusterRed', data-widget-id='447026082663772160') Tweets about "#WarClusterRed"
  script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
