!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')
    meta(name='description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='keywords', content='warcluster, threejs, webgl, online, space, strategy, arcade, browser, MMO, RTS, twitter')
    meta(name='author', content='warcluster')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
    meta(property='og:url', content='http://warcluster.com')
    meta(property='og:image', content='http://warcluster.com/public/images/warcluster-logo.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@warcluster')
    meta(name='twitter:title', content='The first social game for Twitter')
    meta(name='twitter:description', content='Conquer planets, expand your cluster through diplomacy and warfare to become space Emperor!')
    meta(name='twitter:image:src', content='http://warcluster.com/public/images/warcluster-logo.png')

    //link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', href='/style.css')
    //link(rel='stylesheet', href='http://bootswatch.com/cosmo/bootstrap.min.css')

    script(src="/js/sockjs-0.3.min.js")
    script(src='/js/jade.js')
    script(src="/code.js")

  body(style='background-image: url(\'/images/backgrounds/pattern.png\');')
    .label version: 
      span.badge !{version}
    .welcomePage
      .elements
        #logo_container.logo_container
          div
            img.circle1(src='images/logo/circle1.png')
          div
            img.circle2(src='images/logo/circle2.png')
          div
            img.circle3(src='images/logo/circle3.png')
          div
            img.circle4(src='images/logo/circle4.png')
          div
            img.circle5(src='images/logo/circle5.png')
          .logo
            img(src='images/logo/planet.png')
          div
            img.white_particles(src='images/logo/white_particles.png')
          div
            img.orange_particles(src='images/logo/orange_particles.png')
          .x_ring
            img(src='images/logo/x_ring.png')
          .y_ring
            img(src='images/logo/y_ring.png')
        .additional
          .description
            h3 Conquer planets, expand your cosmic cluster through diplomacy and warfare to become space Emperor!
            h5 Real-time massively multiplayer online space strategy arcade browser game! A lot of words describing the first social game on Twitter that relies on total annihilation! :D
          .loginBtn.text-center
            a.btn.login(href="/twitter/connect") Login with Twitter
          .text-center
            button.leaderboardBtn(id="leaderboardBtn", onclick="return goToLeaderboard();") Leaderboard
              span.pull-left.glyphicon.glyphicon-star
    .blog-link 
      a(href="http://blog.warcluster.com", target="_blank") Our Blog
    .newsletter-link
      a(href="http://eepurl.com/MvxdX", target="_blank") Subscribe to our Newsletter!
      //TODO: https://trello.com/c/VleteCd0/374-show-the-real-subscribers-number-on-the-landing-page
      p There're 339 people ahead of you!
    .leaderboardPage
    .welcome.text-center
      a.btn.welcomeBtn(id="leaderboardBtn", onclick="return goToWelcome();") Back to Welcome Screen
        span.pull-left.icon-arrow-down.icon-white
    canvas#myCanvas(style="width:10px;height:10px;")

