!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')

    link(rel='stylesheet', href='/style.css')

    script(src="/js/three.js")
    script(src="/js/stats.min.js")
    script(src="/code.js")

  body
    .container-fluid(style="padding: 0px; margin: 0px;")
      .content
      canvas#cTemp.temp
      .menu.btn-group
        a.btn.test1(href="#") Build systems
        a.btn.test2(href="#") Send mission
        sup.version
          | &nbsp;&mdash;&nbsp;
          .label !{version}