@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

@import "../style/less/font-awesome/font-awesome.less";
@import "../style/less/warclusterfont.less";
@import "../style/less/bootstrap/bootstrap.less";
@import "../style/less/social.less";
@import "../style/jquery/jquery-ui.less";
/* At the end of this file we're importing the media queries*/

/*@import "../style/less/responsive.less";*/

/*TODO:
  refactor css in less style
  make it responsive :D
*/
.race-menu-container {
  .race-portrait {
    height: 50%;
  }
  a {
    color: #FFF;
    text-decoration: underline;
  }
}
.noty_buttons {
  background-color: #585858  !important;
}
.race-image {
  height: 100%;
}

.sun-type {
    margin: 0 auto;
    top: 25%;
    position: relative;
}
.sci-fi-container {
  background-color: #150a06;
  border-image: url("/images/ui/registration/pick_race_border.png") 12 16 16 12 repeat;
  -moz-border-image: url("/images/ui/registration/pick_race_border.png") 12 16 16 12 repeat;
  border-width: 12px 16px 16px 12px;
  -moz-border-width: 12px 16px 16px 12px;
  height: 100%;
}
.sun-menu-container {
  .choices-list {
    position: absolute;
    text-align: left;
    cursor: pointer;
  }
  .planet {
   /* background-image: url('/images/planets/planet0.png');*/
    width: 43px;
    height: 43px;
    position: absolute;
  }
  .planet-left {
    left: 10%;
    top: 50%;
  }
  .planet-right {
    right: 5%;
    top: 50%;
  }
  .planet-top {
    top: 10%;
    right: 35px;
  }
  .planet-bottom {
    bottom: 10%;
    left: 35%;
  }
  .overlay-top {
    top: 10%;
    right: 35px;
  }
  .overlay-bottom {
    bottom: 10%;
    left: 35%;
  }
  .overlay-left {
    left: 10%;
    top: 50%;
  }
  .overlay-right {
    right: 5%;
    top: 50%;
  }
  .overlay {
    position: absolute;
    background-color: rgba(5,151,255,0.5);
    width: 43px;
    height: 43px;
    border-radius: 43px;
  }
}

#individual {
  border-image: url("/images/ui/border_rectangle.png") 12 16 16 12 repeat;
  -moz-border-image: url("/images/ui/border_rectangle.png") 12 16 16 12 repeat;
  border-style: solid;
  border-width: 12px 16px 16px 12px;
  .race-color {
    cursor: pointer;
  }
}
#team {
  border-image: url("/images/ui/border_rectangle.png") 12 16 16 12 repeat;
  -moz-border-image: url("/images/ui/border_rectangle.png") 12 16 16 12 repeat;
  border-width: 12px 16px 16px 12px;
  border-style: solid;
  .race-color {
    cursor: pointer;
  }
}
.pick-race-panel {
  width: 65%;
  height: 100%;
  float: right;
  padding-top: 25px;
  .races {
    display: block;
    position: relative;
    width: 95%;
    margin-top: 20px;
  }
  .selected {
    border-style: solid;
  }
  .race {
    width: 40%;
    height: 80px;
    margin-top: 15px;
    background-size: 100% 100%;
    background-image: url("/images/ui/race-background.png");
    cursor: pointer;
    .race-description {
      padding: 10px 10px 10px 0px;
      position: relative;
      margin: -75px 0px 0px 80px;
      text-align: left;
      font-size: 1em;
      .fa-lock {
        font-size: 1.2em;
        margin-left: 6px;
      }
    }
    .race-color {
      width: 80px;
    }
    img {
      padding: 10px;
      width: 80px;
    }
    &:hover > .race-color {
      border-color: #f26a21;
      border-top-style: outset;
      border-width: 5px;
    }
    &:hover > .race-color > img {
      padding-top: 5px;
    }
  }
  .info {
    margin-top: -25px;
    border-left: 2px solid #0597ff;
    border-right: 2px solid #0597ff;
    background-color: #150a06;
    color: #0597ff;
    max-width: 430px;
    padding-left: 10px;
    text-align: left;
  }
  .choice {
    &:hover {
      color: #0597ff;
    }
  }
  /* Effect 10: reveal, push out */
  .btn-group-cl-effect a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    width: 147px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
  }
  .btn-group-cl-effect  {
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }

  .btn-group-cl-effect a {
    overflow: hidden;
    margin: 0 15px;
  }

  .btn-group-cl-effect a span {
    display: block;
    padding: 10px 20px;
    background: rgba(18, 62, 94, 1);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .btn-group-cl-effect a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #0597ff;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-25%);
  }

  .btn-group-cl-effect a:hover span,
  .btn-group-cl-effect a:focus span {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  .btn-group-cl-effect a:hover::before,
  .btn-group-cl-effect a:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.start-game {
  position: absolute;
  bottom: 10px;
  right: 15px;
  .animation-name(pinkPulse);
  .animation-duration(2s);
  .animation-iteration-count(infinite);
}
.landing-content {
  margin-top: 50px;
  text-align: left;
  width: 25%;
  height: 100%;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  p {
    clear: both;
  }
  ul {
    margin: 10px -15px 0px 20px;
    height: 40px;
    span {
      margin-right: 10px;
    }
  }
}
.leaderboard-view {
  z-index: 3003;
}
.landing-view {
  z-index: 3003;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #150a06;
}
.left-panel {
  top: 0px;
  left:0px;
  /*margin-top: 50px;*/
  height: 100%;
  position: absolute;
  width: 75%;
}
.leaderboard-content {
  position: absolute;
  background-color: #150a06; 
  width: 100%;
  height: 100%;
  .race-color {
    color: #000;
    text-align: left;
  }
  .navbar {
    background-color: #150a06;
    border-style: none;
    .active {
      color: #fff;
    }
  }
  table a {
    color: white;
  }
}
.leaderboardPage {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
}
.planet-info-popover {
  position: absolute;
  color: #fff;
  background-image: url("/images/ui/planet_info.png");
  width: 323px;
  height: 172px;
  .planet-category {
    position: absolute;
    bottom: 19px;
    #category {
      display:block;
    }
  }
  .planet-production {
    bottom: 78px;
    position: absolute;
  }
  .close-btn {
    color: #0496ff;
    position: absolute;
    right: 34px;
    top: 20px;
    &:hover {
      color: #fff;
    }
  }
  .mission-buttons {
    position: absolute;
    bottom: -50px;
    left: 55px;
  }
  .player-info {
    .player-name {
      position: absolute;
      color: #fff;
      right: 10px;
      top: 63px;
      text-decoration: underline;
      &:hover {
        color: #0496ff;
      }
    }
    .player-avatar {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
}

.close-btn {
  color: #000;
  background: none;
  border: none;
  &:hover {
    color: #2b3e50;
  }
}

.toggle-landing-btn {
  position: absolute;
  text-align: center;
  line-height: 50px;
  background-image: url("/images/ui/leaderboard_btn.png");
  bottom: 0px;
  right: 50px;
  height: 50px;
  width: 50px;
  &:hover {
    line-height: 55px;
    font-size: 30px;
  }
  &:active {
    color: #0597ff;
  }
}
.tutorial-menu {
  .toggle-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-image: url("/images/ui/tutorial_btn.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3002;
    &:hover {
      line-height: 55px;
      font-size: 30px;
    }
  }
  .tutorial-content {
    width: 100%;
    height: 100%;
    .tutorial-image {
      position: absolute;
      z-index: 3001;
      margin: auto;
      right: 0;
      bottom: 0;
      background-image: url('/images/tutorial.png');
      &:hover {
        font-size: 30px;
      }
    }
  }
}
.player-avatar {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
html, body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  /*overflow:hidden;*/
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pink {
  background-color: #F24960;
}
.temp {
  top: -1000px;
  position: absolute;
}
.twitter-stream {
  position: absolute;
  height: 520px;
  right: 0px;
  top: 80px;
  border-image: url("/images/ui/twitterStream/twitter-stream-timeline-border.png") 11 0 11 11 round;
  -moz-border-image: url("/images/ui/twitterStream/twitter-stream-timeline-border.png") 11 0 11 11 round;
  border-width: 11px 0px 11px 11px;
  .twitter-stream-toggle-btn {
    background-image: url("/images/ui/twitterStream/twitter-stream-timeline-hide-button.png");
    width: 45px;
    height: 24px;
    left: -40px;
    top: -11px;
    position: inherit;
    span {
      margin-left: 7px;
      margin-top: 5px;
    }
    &:hover {
      color: #888;
    }
  }
}
.ui-container {
  z-index: 3000;
  top: 0px;
  left: 0px;
  color: #FFFFFF;
  width: 100%;
}
.welcomePage {
  margin: 0 auto;
  width: 300px;
}
.elements {
  /*left:37%;*/
  position: absolute;
}
.additional {
  text-align: center;
  width: 330px;
}
.blog-link {
  position: absolute;
  bottom: 3%;
  left: 3%;
  a {
    color: #FFF;
    text-decoration: underline;
  }
}
.newsletter-link {
  position: fixed;
  bottom: 1%;
  right: 3%;
  a {
    color: #FFF;
    text-decoration: underline;
  }
}

.label {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #fff;
}

.description {
  /*margin-top: -190px;*/
  width: 350px;
  /*position: absolute;*/
  font-size: 18px;
  color: #fff;
}

.login {
  background-color: #F24960;
  margin-top: 10px;
  color: #FFF;
  border-radius: 0px;
  padding: 10px 50px;
  &:hover {
    background-color: #2AA9E0;
    color: #FFF;
  }
}
.leaderboardBtn {
  background: none;
  text-decoration: underline;
  border: none;
  color: #D1CECE;
  &:hover {
    color: #F24960;
  }
/*  span {
    padding-right: 5px;
  }*/
}
.welcome {
  margin: 10px auto;
  width: 140px;
  #leaderboardBtn {
    top:93%;
  }
  .welcomeBtn {
    position: absolute;
    color: #fff;
    background-color: #f24960;
    border-radius: 0px;
    margin: 0 auto;
    &:hover {
      background-color: #f69766;
      color: #fff;
    }
  }
}
/*
  Logo specific stylesheets
*/
.logo_container {
  position:relative;
  width: 500px;
  height: 350px;
  margin-top: 50px;
}
.logo {
  margin: -333px auto;
  position:absolute;
}
.circle1 {
  position:absolute;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:counterClockwiseSpin 5s infinite ease-in;
  -webkit-animation:counterClockwiseSpin 5s infinite ease-in;
}
.circle2 {
  position:absolute;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:clockwiseSpin 1s infinite ease-out;
  -webkit-animation:clockwiseSpin 1s infinite ease-out;
}
.circle3 {
  position:absolute;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:clockwiseSpin 8s infinite ease-in-out;
  -webkit-animation:clockwiseSpin 8s infinite ease-in-out;
}
.circle4 {
  position:absolute;
  -moz-transform-origin: 167px 167px;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:clockwiseSpin 8s infinite ease;
  -webkit-animation:clockwiseSpin 8s infinite ease;
}
.circle5 {
  position:relative;
  -moz-transform-origin: 167px 167px;
  -webkit-transform-origin: 167px 167px;
  -moz-animation:clockwiseSpin 3s infinite;
  -webkit-animation:clockwiseSpin 3s infinite;
}
.x_ring {
  position:relative;
  margin: -288px 0px 0px -55px;
}
.y_ring {
  position:relative;
  margin: -333px 0px 0px 33px;
}
.white_particles {
  position:absolute;
  margin: -350px 0px 0px -35px;
  -moz-animation:pulse 8s infinite ease-in-out;
  -webkit-animation:pulse 8s infinite ease-in-out;
}
.orange_particles {
  position:absolute;
  margin: -332px 0px 0px 42px;
  -moz-animation:pulse 6s infinite ease-in-out;
  -webkit-animation:pulse 6s infinite ease-in-out;
}
@-webkit-keyframes pulse {
  0% {-webkit-transform:scale(1, 1);}
  50% {-webkit-transform:scale(1.1, 1.1)}
  100% {-webkit-transform:scale(1, 1);}
}
@-moz-keyframes pulse {
  0% {-moz-transform:scale(1, 1);}
  50% {-moz-transform:scale(1.1, 1.1);}
  100% {-moz-transform:scale(1, 1);}
}
@-moz-keyframes clockwiseSpin {
  0% {-moz-transform:rotate(0deg);}
  100% {-moz-transform:rotate(360deg);}
}
@-webkit-keyframes clockwiseSpin {
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes counterClockwiseSpin {
  0% {-moz-transform:rotate(0deg);}
  100% {-moz-transform:rotate(-360deg);}
}
@-webkit-keyframes counterClockwiseSpin {
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(-360deg);}
}
/* End of logo specific stylesheets*/

@-webkit-keyframes pinkPulse {
  from { background-color: #CC4154; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #F24960; -webkit-box-shadow: 0 0 50px #F24960; }
  to { background-color: #CC4154; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes pinkPulse {
  0% { background-color: #CC4154; box-shadow: 0 0 9px #333; }
  50% { background-color: #F24960; box-shadow: 0 0 50px #F24960; }
  100% { background-color: #CC4154; box-shadow: 0 0 9px #333; }
}

.selection-rect {
  position: fixed;
  z-index: 999999;
  background: rgba(255, 255, 255, .3);
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  opacity: 0.3;
  pointer-events: none;
}

.missions-menu {
  background-image:url('/images/ui/pilots_per_mission_menu.png');
  width: 596px;
  height: 90px;
  position: absolute;
  top: -141px;
  left: 0px;
  li {
    width: 49px;
    height: 45px;
    margin-right: 1px;
  }
  .list-inline {
    position: absolute;
    left: 81px;
    top:15px;
  }
}

.missions-menu-selection {
  background-image:url('/images/ui/pilots_per_mission_selected.png');
  width: 49px;
  height: 45px;
}

.planets-selection {
  cursor: pointer;
  position: absolute;
  width: 250px;
  top: 200px;
  left: -250px;
  border-image: url("/images/ui/planets_selection.png") 42 9 9 9 repeat;
  -moz-border-image: url("/images/ui/planets_selection.png") 42 9 9 9 repeat;
  border-width: 42px 9px 9px 9px;
  border-style: solid;
  img {
    margin-left: 15px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }
}

.expanded-list-container {
  max-height: 300px;
  .expanded-list {
    max-height: 300px;
    overflow: auto;
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .expanded-list-end {
    /*background-image: url("/images/ui/selection/planet-info-bottom.png");*/
    width: 250px;
    height: 10px;
  }
}


.selection-planet-item {
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border-right-color: #f26a21;
    border-right-style: solid;
  };
  .deselect-icon {
    padding: 7px;
  }
  .planet-link {
    cursor: pointer;
  }
}

.collapsed-list {
  position: absolute;
  margin-top: -40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  width: 250px;
  a {
    color: rgb(245, 237, 237);
  }
  a:hover {
    color: #3A3A2A;
  }
  .icon-expand-selection {
    padding-right: 20px;
  }
  .selected-planets {
    padding: 5px 5px 5px 5px;
  }
  .selection-planets {
    padding: 5px 5px 5px 10px;
  }
}

.text-center {
  text-align: center;
}
.margin-10 {
  margin: 10px;
}
.white {
  color: #fff;
}

@import "../style/less/media.less";
