!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')

    link(rel='stylesheet', href='/style.css')

    script(src='/js/jade.js')
    script(src="/code.js")

  body
    .content
    .ui-container
      .container-fluid
        .navbar
          .navbar-inner
              a.brand(href='#') WarCluster
              sup.version.pull-right(style="padding-top: 16px;")
                .label !{version}
        .row-fluid
          .span12(style="text-align: center; margin-top: 20px;")
            img(src="images/logo.png")
        .row-fluid
          .span12(style="text-align: center; margin-top: 50px;")
            a.btn.btn-primary.btn-large(href="/twitter/connect", style="width: 150px") Login