!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')
    meta(name='copyright', content='Gamecraft Ltd.')
    meta(name='author', content='WarCluster')
    meta(name='keywords', content='')
    meta(name='description', content='Software and Hardware development company made by people for people')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
    link(rel='author', href='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='/style/jquery/jquery-ui.css')
    link(rel='stylesheet', href='/style/index.css')

    script(src='/js/jquery.min.js')
    script(src="/js/three.js")
    script(src="/js/pixastic.custom.js")
    script(src="/js/stats.min.js")
    script(src="/code.js")

  body
    .content
    canvas#cTemp.temp
    .menu
      a.menuItem.test1(href="#") Test 1
      a.menuItem.test2(href="#") Test 2
      a.menuItem.test3(href="#") Test 3
      a.menuItem.test4(href="#") Test 4