!!! 5
html
  head
    title WarCluster
    meta(charset='utf-8')

    link(rel='stylesheet', href='/style.css')

    script(src='/js/jade.js')
  body
    button#login_button(type='submit') login with twitter
