.arrow
h5.popover-title
  a(href='http://www.twitter.com/'+playerName, target='_blank')  @!{playerName}
  a.close-btn(href="#")
    i.icon-remove.pull-right
.popover-content
  
  img.avatar.float-left(src="!{twitterAvatar}")
  .meta-information
    p.float-right(style='white-space:pre;')
      | Planet potential size
