.arrow
h5.popover-title
  a(href='http://www.twitter.com', target='_blank')  @PlanetOwner
  a.close-btn(href="#")
    i.icon-remove.pull-right
.popover-content
  img.avatar.float-left(src='http://leadersinheels.com/wp-content/uploads/facebook-default.jpg')
  .meta-information
    p.float-right(style='white-space:pre;')
      | 1100 tweets
      | 190 followers
      | 300 following
