#individual
    .bs-example.table-responsive
        table.table.table-hover
            thead
              tr
                th #
                th Player 
                th Race Color
                th Home Planet
                th Planets #
            tbody
              tr(data-id="1")
                td.star-column
                  span.pull-left.glyphicon.glyphicon-star
                td.position &nbsp;
                td.twitter-username
                td.race-color 
                td.home-planet 
                td.planets
              tr(data-id="2")
                td.star-column
                td.position &nbsp;
                td.twitter-username
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="3")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="4")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet
                td.planets 
              tr(data-id="5")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="6")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="7")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="8")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="9")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets 
              tr(data-id="10")
                td.star-column
                td.position &nbsp;
                td.twitter-username 
                td.race-color 
                td.home-planet 
                td.planets
    span Search for players 
      input.search-field(type='text', placeholder='username')

    ul.pager.pull-right.paginator
      li
        a.previous-page(href='#') Previous Page
      li
        a.next-page(href='#') Next Page



