.collapsed-list
  a(href="#")
    span.selection-planets Selected planets: 
    span.selected-planets 0
    span.pull-right.collapsed-icon.icon-expand-selection
      i.icon-plus-sign
    span.pull-right.expanded-icon.hide.icon-expand-selection
      i.icon-minus-sign
.expanded-list-container.hide
  .expanded-list