.collapsed-list
  a(href="#")
    img(src="/images/planets/planet0.png")
    span Selected planets: 
    span(style="padding-left: 5px").selected-planets 0
    span.pull-right.collapsed-icon(style="padding-right: 5px; padding-top: 6px;")
      i.icon-plus-sign
    span.pull-right.expanded-icon.hide(style="padding-right: 5px; padding-top: 6px;")
      i.icon-minus-sign
.expanded-list-container.hide
  .expanded-list