.collapsed-list
  a
    span.selection-planets 
      strong Selected planets: 
    span.selected-planets 0
    span.total-pilots 0
    span.pull-right.collapsed-icon.icon-expand-selection
      i.icon-plus-sign.icon-white
    span.pull-right.expanded-icon.hide.icon-expand-selection
      i.icon-minus-sign.icon-white
.expanded-list-container.hide
  .expanded-list